.add-dish{
  height: auto;
  .ant-form{min-width: 800px;}
}
.form-container{
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-around;
  .ant-form{
    .ant-form-item{
      width: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .title{
    font-weight: 600;
    margin: 10px;
  }

  .items{
    margin-bottom: 10px;
  }
  .cont{
    width: 800px;
    height: auto;
    background-color:#fafafb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
  }
  .flavor-select{
    height: 40px;
    min-width: 120px;
    background-color: var(--white-color);
    border-radius: 8px;
    margin-right: 15px;
    .ant-select{
      width: 100%;
      height: 100%;
    }
    
  }
  .label-Items{
    .tag-container{
      background-color: var(--white-color);
      display: flex;
      align-items: center;
      width: 480px;
      height: 40px;
      border-radius: 4px;
      line-height: 40px;
      margin-right: 10px;
      .ant-tag{
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .addBut{
    width: 200px;
  }
  
}
.add-dish-footer{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-top: 1px solid #abb0b6;
  .ant-btn{
    width: 80px;
    height: 40px;
    margin-left: 20px;
  }
}
