.category-container {
  .category-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin: 20px auto;

    .categoty-select{
      margin-left: 10px;
    }
    .ant-btn-default {
      background-color: var(--dark-color);
      color: var(--white-color);
      margin-left: 20px;
    }

    .ant-btn-primary {
      margin-left: 20px;
    }
    .ant-input{
      line-height: 50px;
    }
    .ant-select{
      min-width: 180px;

    }
  }

}